
<div class="flex-container">
<p-card header="{{i.nom_entreprise}}" subheader="{{i.site_web}}"  [style]="{width: '300px'}" styleClass="p-card-shadow p" *ngFor="let i of employeurs">
  <ng-template pTemplate="header">
    <!--<img alt="Card" src="https://m.media-amazon.com/images/I/51nX7PBmzIL._SS500_.jpg" width="150px">-->
    <img alt="Card" src="{{i.logo}}" width="150px" height="100px">

  </ng-template>
  <p>{{i.description_entreprise | slice:0:200}} ... </p>
  <ng-template pTemplate="footer"  >
   

    <p-button type="button" (click)="showDialog(i)" label="Voir Offres" icon="pi pi-eye"></p-button>
  </ng-template>
</p-card>
</div>


<!--[transitionOptions]="'10ms'"-->
