<div class="flex-container">

<p-card header="{{i.nom_entreprise}}" subheader="{{i.site_web}}"  [style]="{width: '300px'}" styleClass="p-card-shadow" *ngFor="let i of employeurs">
  <ng-template pTemplate="header">
    <img alt="Card" src="https://m.media-amazon.com/images/I/51nX7PBmzIL._SS500_.jpg" width="150px">
  </ng-template>
  <p>{{i.description_entreprise}}</p>
  <ng-template pTemplate="footer">
    <p-dialog header="Les Offres" [(visible)]="display" [maximizable]="true" >


      <div class="card">
        <p></p>
        <p-table #dt [value]="employeurs" [rows]="6" [paginator]="true" [globalFilterFields]="['nom','nom_entreprise','matricule','telephone']"
                 [(selection)]="selectedEmployeur" [rowHover]="true" dataKey="id"
                 currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
          <ng-template pTemplate="caption">
            <div class="p-d-flex p-ai-center p-jc-between">
        <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Search..." />
                </span>
            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th pSortableColumn="nom_entreprise">Nom de l'entreprise <p-sortIcon field="nom_entreprise"></p-sortIcon></th>
              <th pSortableColumn="nom">Nom de responsable<p-sortIcon field="nom"></p-sortIcon></th>
              <th pSortableColumn="matricule">matricule<p-sortIcon field="matricule"></p-sortIcon></th>
              <th pSortableColumn="telephone">telephone<p-sortIcon field="telephone"></p-sortIcon></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-employeur>
            <tr>

              <td>{{employeur.nom_entreprise}}</td>
              <td>{{employeur.nom}}</td>
              <td>{{employeur.matricule}}</td>
              <td>{{employeur.telephone}}</td>

            </tr>
          </ng-template>
          <ng-template pTemplate="summary">
            <div class="p-d-flex p-ai-center p-jc-between">
              In total there are {{employeurs.length }} Employeurs.
            </div>
          </ng-template>
        </p-table>
      </div>



















    </p-dialog>

    <p-button type="button" (click)="showDialog()" label="Voir Offres" icon="pi pi-eye"></p-button>
    <!--<p-button label="Voir Offres" icon="pi pi-eye"></p-button>-->
  </ng-template>
</p-card>
</div>


<!--[transitionOptions]="'10ms'"-->
