<div class="content-section introduction">
  <div class="feature-intro">
    <h1>Drag and Drop</h1>
    <p>pDraggable and pDroppable directives apply drag-drop behaviors to any element.</p>
  </div>
  <!--<app-demoActions github="dragdrop"></app-demoActions>-->
</div>

<div class="content-section implementation">
  <div class="card">
    <h5>Drag and Drop to Table</h5>
    <div class="p-grid">
      <div class="p-col-12 p-md-6 drag-column">
        <div *ngFor="let candidat of candidats">
          <div class="product-item" pDraggable="candidats" (onDragStart)="dragStart(candidat)" (onDragEnd)="dragEnd()">
            <!--<div class="image-container">-->
              <!--<img src="https://yt3.ggpht.com/yti/ANoDKi5QQYxM8hhMkDMsz09x_zIR4c4lTCHX-8wjOntZPA=s88-c-k-c0x00ffffff-no-rj-mo" [alt]="product.name" class="product-image" />-->
            <!--</div>-->
            <div class="product-list-detail">
              <h5 class="p-mb-2">{{candidat.nom}}</h5>
              <i class="pi pi-tag product-category-icon"></i>
              <span class="product-category">{{candidat.email}}</span>
            </div>
            <div class="product-list-action">
              <h6 class="p-mb-2">${{candidat.civilite}}</h6>
            </div>
          </div>
        </div>
      </div>
      <div class="p-col-12 p-md-6 drop-column" pDroppable="candidats" >  <!--(onDrop)="drop()"-->
        <p-table [value]="candidats">
          <ng-template pTemplate="header">
            <tr>
              <th>ID</th>
              <th>Category</th>
              <th>Name</th>
              <th>Price</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-product>
            <tr>
              <td>{{candidat.nom}}</td>
              <td>{{candidat.civilite}}</td>
              <td>{{candidat.email}}</td>
              <td>{{candidat.civilite}}</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>


<br><br><br><br><br>

<div class="p-grid">
  <h1>List Of Available Books</h1>


  <div class="p-col-12 p-md-6 p-col-nogutter drag-column">
    <div *ngFor="let book of candidats" class="ui-helper-clearfix">
      <div class="ui-g-12 ui-md-4" pDraggable="books" (onDragStart)="dragStart($event, book)"
           (onDragEnd)="dragEnd($event)">
        <p-panel [header]="book.nom" [style]="{'text-align':'center'}">
         <p>{{book.email}}</p>
        </p-panel>
      </div>
    </div>
  </div>
  <h1>My Personal Favorites</h1>
  <div class="p-col-12 p-md-6 drop-column" pDroppable="candidats" (onDrop)="drop($event)"
       [ngClass]="{'ui-highlight-book':draggedBook}">
    <p-table [value]="favoriteBooks">
      <ng-template pTemplate="header">
        <tr>
          <th>Name</th>
          <th>Price(Dollars)</th>
          <th>Author</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-book>
        <tr>
          <td>{{book.nom}}</td>
          <td>{{book.email}}</td>
          <td>{{book.civilite}}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
