<div class="sidebar">
  <div class="sidebar-brand">
    <a href="http://localhost:4200"><h2><span class="las la-chess"></span>KamJobs</h2></a>
  </div>
  <div class="sidebar-menu">
    <ul>
      <li><a class="active" [routerLink]="['/employeur/profil']"><span class="las la-igloo"></span><span>Profile</span></a></li>
      <li><a [routerLink]="['/employeur/offres']"><span class="las la-users"></span><span>Offres</span></a></li>
      <li><a [routerLink]="['/employeur/welcome']"><span class="las la-clipboard-list"></span><span>Projects</span></a></li>
      <!--<li><a href=""><span class="las la-shipping-fast"></span><span>Orders</span></a></li>-->
    </ul>
  </div>
</div>
<div class="main-content">
  <header>
    <h2>
      <label>
        <span class="las la-bars"></span>
      </label>
      Dashboard
    </h2>

    <div class="search-wrapper">
      <span class="las la-search"></span>
      <input type="search" placeholder="Search Here !">
    </div>

    <div class="user-wrapper">
      <img (click)="signOut()" src="{{employeur.logo}}" width="40px" height="40px">
      <div>
        <h4>{{employeur.nom}}</h4>
        <small>{{employeur.telephone}}</small>
      </div>

    </div>

  </header>
  <main>
    <!--<h1>  THIS IS JNAYYEH, you must add languages and offre types to have them show up in the offer selection shit</h1>-->
    <!--<h2> This Jnayeh warning is being displayed from the employeur home component and Why TF is the adding offre component named welcome ? </h2>-->
    <router-outlet></router-outlet>
  </main>
</div>

