<div class="main">

    <h1>
      Informations Personnelles
    </h1>
    <h3>
      Tappez vos informations personnelles
    </h3>

    <div class="flex-cont">
      <form class="p-fluid p-formgrid p-grid card-single">


          <div class="p-field p-col-12 p-md-6 p-justify-between">
            <div style="width: 70%;">
              <label for="nom">Nom</label>
              <input #nom="ngModel" id="nom" name="nom" type="text" required pInputText [(ngModel)]="candidat.nom"
                [ngClass]="{'ng-dirty': (nom.invalid && submitted) || (nom.dirty && nom.invalid)}">
              <small *ngIf="(nom.invalid && submitted) || (nom.dirty && nom.invalid)" class="p-error">nom est requis.</small>
            </div>
            <div style="width: 29%;">
              <label for="civilite">Civilité</label>
              <p-dropdown [options]="civilites" [(ngModel)]="candidat.civilite" placeholder="Choisissez une civilité"
                name="civilite" #civilite="ngModel" ></p-dropdown>
              <small class="p-error" *ngIf=" (civilite.dirty && civilite.invalid)">civilité est requis.</small>
            </div>
          </div>

          <div class="p-field p-col-12 margin-top">
            <label for="image">Image</label>
            <input class="input" #image="ngModel" id="image" name="image" type="text" required pInputText
              [(ngModel)]="candidat.image">
          </div>

          <div class="p-field p-col-12 p-md-6 p-justify-between">
            <div style="width: 50%;">
              <label for="date_naissance">Date naissance</label>
              <input class="input" #date_naissance="ngModel" id="date_naissance" name="date_naissance" type="date" required pInputText
                [(ngModel)]="candidat.date_naissance"
                [ngClass]="{'ng-dirty': (date_naissance.invalid && submitted) || (date_naissance.dirty && date_naissance.invalid)}">
              <small class="p-error" *ngIf="(date_naissance.dirty && date_naissance.invalid)">date de naissance est requis.</small>
            </div>
            <div style="width: 49%;">
              <label for="telephone">Telephone</label>
              <input class="input" #telephone="ngModel" id="telephone" name="telephone" type="number" required pInputText
                [(ngModel)]="candidat.telephone"
                [ngClass]="{'ng-dirty': (telephone.invalid && submitted) || (telephone.dirty && telephone.invalid)}">
              <small class="p-error" *ngIf="(telephone.dirty && telephone.invalid)">Telephone est requis.</small>
            </div>
          </div>

          <div class="p-field p-col-12 margin-top">
            <label for="motivation">Motivation</label>
            <textarea class="input" id="motivation" name="motivation" #motivation="ngModel" pInputTextarea required [rows]="5"
              [(ngModel)]="candidat.motivation"></textarea>
          </div>

        <div class="p-justify-between margin-top">

          <button pButton pRipple type="button" label="Précédent" (click)="previousPage()" icon="pi pi-angle-left"
            iconPos="left" class="p-button-rounded"></button>
          <button pButton pRipple type="button" label="Confirmer" (click)="nextPage()" icon="pi pi-angle-right"
            iconPos="right"
            class="p-button-rounded"></button>
        </div>

      </form>
    </div>
</div>
