<!-- BLOG FORM -->
<div id="blogForm" class="modal">
  <form class="modal-content">
    <div class="p-justify-right">
      <button pButton pRipple type="button" (click)="cancel()" icon="pi pi-times"
        class="p-button-danger p-button-rounded p-button-text "></button>
    </div>
    <div class="p-fluid">
      <div class="p-field">
        <label for="titre">Titre</label>
        <input #titre="ngModel" name="titre" id="titre" type="text" required pInputText class="input"
          [(ngModel)]="blog.titre" [ngClass]="{'ng-dirty': (titre.dirty && titre.invalid)}">
        <small *ngIf="(titre.dirty && titre.invalid)" class="p-error">titre est requis.</small>
      </div>
      <div class="p-field">
        <label for="logo">logo</label>
        <input #logo="ngModel" id="logo" name="logo" type="text" required pInputText class="input"
          [(ngModel)]="blog.logo" [ngClass]="{'ng-dirty':(logo.dirty && logo.invalid)}">
        <small class="p-error" *ngIf="(logo.dirty && logo.invalid)">logo est requis.</small>
      </div>
      <div class="p-field">
        <label for="description">Contenu</label>

        <textarea id="description" name="description" required pInputTextarea class="input" [rows]="6" [cols]="30"
          [(ngModel)]="blog.description" #description="ngModel"
          [ngClass]="(description.dirty && description.invalid)"></textarea>

        <small class="p-error" *ngIf="(description.dirty && description.invalid)">Contenu est requis.</small>
      </div>
    </div>
    <div class="p-grid p-nogutter p-justify-right">
      <button pButton pRipple type="button" label="Ajouter" (click)="add()" icon="pi pi-check"
        class="p-button-rounded p-button-text " *ngIf="!editing"></button>
      <button pButton pRipple type="button" label="Modifier" (click)="edit()" icon="pi pi-check"
        class="p-button-rounded p-button-warning p-button-text " *ngIf="editing"></button>
    </div>
  </form>
</div>

<div class="flex-container">
  <div class="card-single">
    <div>
      <button pButton pRipple type="button" (click)="showDialog()" label="Ajout Blog" icon="pi pi-plus"
        class=" p-button-rounded p-button-text "></button>
    </div>

    <p-table [value]="blogs" dataKey="id" [paginator]="true" [rows]="rows" [showCurrentPageReport]="true"
      [globalFilterFields]="['titre']" [(first)]="first"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[5,10,15]">
      <ng-template pTemplate="header">
        <tr>
          <th width="99vw" pSortableColumn="titre">Titre <p-sortIcon field="titre"></p-sortIcon>
          </th>
          <th width="1vw"></th>

        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-blog let-editing="editing" let-ri="id">
        <tr>
          <td width="99vw">
            {{blog.titre}}
          </td>
          <td width="1vw">
            <button pButton pRipple type="button" (click)="showEditDialog(blog)" icon="pi pi-pencil"
              class="p-button-rounded p-button-warning"></button>
            <button pButton pRipple type="button" (click)="delete(blog.id)" icon="pi pi-trash"
              class="p-button-rounded p-button-danger"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>


<!-- 
<p-dialog [style]="{'color':'red'}" header="Ajout blog" [modal]="true" [draggable]="false" [(visible)]="display">
  <ng-template pTemplate="title">
    Ajouter une description

  </ng-template>
  <ng-template pTemplate="subtitle">
    Taper les données
  </ng-template>
  <ng-template pTemplate="content">
    <div style="width:40vw;">
      <div class="p-fluid">
        <div class="p-field">
          <label for="titre">Titre</label>
          <input #titre="ngModel" name="titre" id="titre" type="text" required pInputText class="input"
            [(ngModel)]="blog.titre" [ngClass]="{'ng-dirty': (titre.dirty && titre.invalid)}">
          <small *ngIf="(titre.dirty && titre.invalid)" class="p-error">titre is required.</small>
        </div>
        <div class="p-field">
          <label for="logo">logo</label>
          <input #logo="ngModel" id="logo" name="logo" type="text" required pInputText class="input"
            [(ngModel)]="blog.logo" [ngClass]="{'ng-dirty':(logo.dirty && logo.invalid)}">
          <small class="p-error" *ngIf="(logo.dirty && logo.invalid)">logo is required.</small>
        </div>
        <div class="p-field">
          <label for="description">Contenu</label>

          <textarea id="description" name="description" required pInputTextarea class="input" [rows]="6" [cols]="30"
            [(ngModel)]="blog.description" #description="ngModel"
            [ngClass]="(description.dirty && description.invalid)"></textarea>


          <small class="p-error" *ngIf="(description.dirty && description.invalid)">Contenu is
            required.</small>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <div class="p-grid p-nogutter p-justify-end">
      <button pButton pRipple type="button" label="Ajouter" (click)="add()" icon="pi pi-check"
        class="p-button-rounded p-button-text "></button>
    </div>
  </ng-template>
</p-dialog> -->
