

@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700");
:root {
  --backgroundColor: rgba(246, 241, 209);
  --colorShadeA: rgb(106, 163, 137);
  --colorShadeB: rgb(121, 186, 156);
  --colorShadeC: rgb(150, 232, 195);
  --colorShadeD: rgb(187, 232, 211);
  --colorShadeE: rgb(205, 255, 232);
}
* {
  box-sizing: border-box;
}
*::before, *::after {
  box-sizing: border-box;
}
/*html, body {*/
/*width: 100%;*/
/*height:100%;*/
/*}*/

/*body {*/
/*background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);*/
/*background-size: 400% 400%;*/
/*animation: gradient 15s ease infinite;*/
/*}*/



/*.all{*/
/*width: 100%;*/
/*height:100%;*/
/*background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);*/
/*background-size: 400% 400%;*/
/*animation: gradient 15s ease infinite;*/
/*}*/
/*@keyframes gradient {*/
/*0% {*/
/*background-position: 0% 50%;*/
/*}*/
/*50% {*/
/*background-position: 100% 50%;*/
/*}*/
/*100% {*/
/*background-position: 0% 50%;*/
/*}*/
/*}*/

.flex-container {
  width: 80vvw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.card-single {
  background: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 30px;
  padding: 2rem;
  border-radius: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.p-button-raised{
  margin: 5px;
}

.input {
  padding: 5px 15px;
  border-radius: 25px;
}
@media (max-width:1000px) {
  .flex-container {
    width: 96vvw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .card-single {
    background: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 30px 0px;
    padding: 2rem 5px;
    border-radius: 30px;
  }
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  backdrop-filter: blur(10px);
  z-index: 100; /* Sit on top */
  padding-top: 20vh; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  animation: fadeInModal 0.3s;
}

@keyframes fadeInModal {
  0% {opacity:0;}
  100% {opacity:1;}
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 10px;
  border-radius: 20px;
  width: 60%;
  animation: fadeIn 0.3s;
  
}

@keyframes fadeIn {
  0% {opacity:0;
    transform: scale(0, 0);}
  100% {opacity:1;
    transform: scale(1, 1);}
  
}

.p-justify-right {
  display: flex;
  justify-content:flex-end;
}

button{
  margin: 1px 5px;
  top: 2;
  z-index: 50;
}

label{
  padding: 5px 10px;
}



