* {
  white-space: pre-wrap
}

.navbar {
  position: fixed;
  top: 0;
  z-index: 100;
}
.router{
  padding-top: 40px;
}

@media (max-width:1135px) {
  .router{
    margin-top: 132px;
  }
}

@media (max-width:960px) {
  .router{
    margin-top: 90px;
  }
}