* {
  white-space: pre-wrap
}

.navbar {
  position: fixed;
  top: 0;
  z-index: 100;
}

.router{
  margin-top: 60px;
}

:host ::ng-deep .p-scrollpanel .p-scrollpanel-bar {
  top: 100;
  z-index: 0;
  background-color: #c7e1ff;
  border-radius: 10px;
}
