.paging /deep/ .p-paginator .current {
    border-radius: 20px;
  }
  .paging /deep/ .p-paginator {
    border-radius: 20px;
    margin: 0px 4px;
    padding: 0px;
    height: fit-content;
  }
  
  .paging :host ::ng-deep .p-datatable-header .ng-star-inserted .p-input-icon-left{
    border-radius: 20px;
    background-color: aqua;
    margin: 0px 2px;
  }
  .paging /deep/ .p-paginator .ng-star-inserted:hover {
    border-radius: 20px;
    margin: 0px 2px;
  }
  
  
.flex-container {
  width: 80vvw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.card-single {
  background: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 30px;
  padding: 2rem;
  border-radius: 30px;
  
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.p-button-raised{
  margin: 5px;
}

.input {
  padding: 5px 15px;
  border-radius: 25px;
}
@media (max-width:1000px) {
  .flex-container {
    width: 96vvw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .card-single {
    background: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 30px 0px;
    padding: 2rem 5px;
    border-radius: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  backdrop-filter: blur(10px);
  z-index: 100; /* Sit on top */
  padding-top: 5vh; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  animation: fadeInModal 0.3s;
}

@keyframes fadeInModal {
  0% {opacity:0;}
  100% {opacity:1;}
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 10px;
  border-radius: 20px;
  width: 80%;
  animation: fadeIn 0.3s;
  
}

@keyframes fadeIn {
  0% {opacity:0;
    transform: scale(0, 0);}
  100% {opacity:1;
    transform: scale(1, 1);}
  
}

.p-justify-right {
  display: flex;
  justify-content:flex-end;
}

label{
  padding: 5px 10px;
}

button{
  margin: 1px 5px;
  top: 2;
  z-index: 50;
}

.p-button-rounded:disabled {
  border: 0px;
  color: gray;
  background-color: white;
  box-shadow: none;
}

/* NG PRIME STYLING*/

:host ::ng-deep .p-dropdown,:host ::ng-deep .p-component{
  border-radius: 25px;
}

:host ::ng-deep p-multiselect .p-multiselect-chip, :host ::ng-deep p-multiselect .p-multiselect-item {
  border-radius: 25px;
}

:host ::ng-deep p-multiselect .p-multiselect-items-wrapper{
  border-radius: 0px 0px 25px 25px;
}

:host ::ng-deep p-multiselect .p-multiselect-header{
  border-radius: 25px 25px 0px 0px;
}

:host ::ng-deep .p-multiselect-label .ng-star-inserted{
  border-radius: 25px;
}

:host ::ng-deep .p-dropdown,:host ::ng-deep  .p-dropdown-items-wrapper, .p-dropdown-items, .ng-tns-c72-1{
  border-radius: 25px;
}

:host ::ng-deep .angular-editor-toolbar {
  border-radius: 10px;
}

:host ::ng-deep .angular-editor-textarea {
  border-radius: 20px;
  border: none;
  height: 200px;
  min-height: 200px;
}
:host ::ng-deep .angular-editor-wrapper, :host ::ng-deep .show-placeholder {
  border-radius: 20px;
  border: none;
}

/*  Loader  */
:host ::ng-deep .custom-spinner .p-progress-spinner-circle {
  
  animation: custom-progress-spinner-dash 1.5s ease-in-out infinite, custom-progress-spinner-color 6s ease-in-out infinite;
}

@keyframes custom-progress-spinner-color {
  100%,
  0% {
      stroke: #3c91ff;
  }
  40% {
      stroke: #b9b9b9;
  }
  66% {
      stroke: #02bee4;
  }
  80%,
  90% {
      stroke: #3c91ff;
  }
}

@keyframes custom-progress-spinner-dash {
  0% {
      stroke-dasharray: 1, 200;
      stroke-dashoffset: 0;
  }
  50% {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -35px;
  }
  100% {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -124px;
  }
}

.spinner{
  display:flex;
  justify-content:space-around;
  margin: 10px auto;
}