@import url(https://fonts.googleapis.com/css?family=Raleway:400,700,900,400italic,700italic,900italic);


h1 {
  animation: text-shadow 1.5s ease-in-out infinite;

}

h1:hover {
  animation-play-state: paused;
}

a {
  color: #024794;
}

a:hover {
  text-decoration: none;
}

@keyframes text-shadow {
  0% {
    transform: translateY(0);
    text-shadow:
      0 0 0 #0c2ffb,
      0 0 0 #2cfcfd,
      0 0 0 #fb203b,
      0 0 0 #fefc4b;
  }

  20% {
    transform: translateY(-1em);
    text-shadow:
      0 0.125em 0 #0c2ffb,
      0 0.25em 0 #2cfcfd,
      0 -0.125em 0 #fb203b,
      0 -0.25em 0 #fefc4b;
  }

  40% {
    transform: translateY(0.5em);
    text-shadow:
      0 -0.0625em 0 #0c2ffb,
      0 -0.125em 0 #2cfcfd,
      0 0.0625em 0 #fb203b,
      0 0.125em 0 #fefc4b;
  }

  60% {
    transform: translateY(-0.25em);
    text-shadow:
      0 0.03125em 0 #0c2ffb,
      0 0.0625em 0 #2cfcfd,
      0 -0.03125em 0 #fb203b,
      0 -0.0625em 0 #fefc4b;
  }

  80% {
    transform: translateY(0);
    text-shadow:
      0 0 0 #0c2ffb,
      0 0 0 #2cfcfd,
      0 0 0 #fb203b,
      0 0 0 #fefc4b;
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }
}
label{
  padding: 5px 10px;
}
.input {
  padding: 5px 15px;
  margin: 5px;
  border-radius: 25px;
  background: rgba(255, 255, 255, 0.616);
  backdrop-filter: blur(10px);
}

div{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.flex-container {
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.postulate-button{
  width: 20vw;
  height: fit-content;
  font-size:x-large;
  font-weight: bold;
  padding: 10px;
  text-transform: uppercase ;
}

.p-justify-between {
  margin: 10px;
  display: flex;
  font-size:large;
  font-weight: bold;
  justify-content:space-between;
}
.p-justify-between div p, .p-justify-between div{
  margin: 0px;
  text-align:right
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 40vh; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  animation: fadeInModal 0.3s;
}

@keyframes fadeInModal {
  0% {opacity:0;}
  100% {opacity:1;}
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 10px;
  border-radius: 20px;
  width: 60vw;
  animation: fadeIn 0.3s;
}

@media (max-width:800px) {
  
  .modal-content {
    
    width: 70vw;
  }
}

@media (max-width:600px) {
  
  .modal-content {
    
    width: 80vw;
  }
}

@media (max-width:500px) {
  
  .modal-content {
    
    width: 90vw;
  }
}

@keyframes fadeIn {
  0% {opacity:0;
    transform: scale(0, 0);}
  100% {opacity:1;
    transform: scale(1, 1);}
  
}

.p-justify-right {
  display: flex;
  justify-content:flex-end;
}