<div id="PostulationModal" class="modal">
  <div class="modal-content">
    <div class="p-justify-right">
      <button pButton pRipple type="button" (click)="cancel()" icon="pi pi-times"
        class="p-button-danger p-button-rounded p-button-text "></button>
    </div>
    <div>
      <form>
        <div class="p-fluid">
          <div class="p-field">
            <label for="cv">Cv</label>
            <div class="form-group">
              <label for="file">Choose File</label>
              <input class="input" type="file" accept=".pdf, .doc, .docx" id="file"
                (change)="handleFileInput($event.target.files)">
            </div>
          </div>

          <div class="p-field">
            <label for="lettre_motivation">Lettre de motivation</label>
            <textarea id="lettre_motivation" name="lettre_motivation" pInputTextarea class="input" [rows]="8"
              [cols]="30" [(ngModel)]="candidature.lettre_motivation" #lettre_motivation="ngModel"
              [ngClass]="(lettre_motivation.dirty && lettre_motivation.invalid)"></textarea>

          </div>
        </div>

        <div class="spinner" *ngIf="postulation_loading">
          <div>
            <p-progressSpinner [style]="{width: '50px', height: '50px'}" styleClass="custom-spinner" strokeWidth="4"
              fill="#EEEEEE" animationDuration=".5s"></p-progressSpinner>
          </div>
        </div>

        <div class="p-grid p-nogutter p-justify-right" *ngIf="!postulation_loading">
          <button pButton pRipple type="button" label="Postuler" (click)="postulate()" icon="pi pi-check"
            class="p-button-rounded p-button-text "></button>
        </div>
      </form>

    </div>
  </div>
</div>



<body style="animation: reveal ease-in 0.3s">
  <button pButton pRipple type="button" (click)="back()" label="Retourne à l'offre précédent"
    *ngIf="back_offres.length>0" class="p-button-rounded p-button-text back-button" icon="pi pi-arrow-left"></button>
  <div *ngIf="offre, else loading">
    <!-- the offre injected by using input does not have a list of candidatures attached to it to lessen the load time, so we need to call a fucntion to get the candidatures from the database -->
    <div *ngIf="offre.candidatures" style="animation: reveal ease-in 0.5s;">
      <div class="p-justify-between" *ngIf="candidat, else not_connected">
        <button pButton pRipple type="button" [disabled]="postulated_candidat" (click)="showDialog()" label="Postuler"
          class="p-button-info p-button-rounded postulate-button"></button>
        <div *ngIf="offre.candidatures.length==0, else not_first">
          <div>
            <p>Souyez le premier </p>
            <small>pour postuler</small>
          </div>
        </div>

        <ng-template #not_first>
          <div *ngIf="offre.candidatures.length==1, else multiple">
            <div>
              <p>Une Candidature</p>
              <small *ngIf="offre.nbre_postes">pour {{offre.nbre_postes}} Postes</small>
            </div>
          </div>
          <ng-template #multiple>

            <div>
              <p>{{offre.candidatures.length}} Candidatures</p>
              <small *ngIf="offre.nbre_postes">pour {{offre.nbre_postes}} Postes</small>
            </div>

          </ng-template>
        </ng-template>

      </div>
      <ng-template #not_connected>
        <div class="p-justify-between">
          <button pButton pRipple type="button" (click)="connect()" label="Connecter"
            class="p-button-info p-button-rounded postulate-button"></button>
          <div>
            <h3>Connectez-vous pour postuler</h3>
          </div>
        </div>
      </ng-template>
    </div>

    <ng-container>
      <p-fieldset legend="A propos nous :" [toggleable]="true" [transitionOptions]="'10ms'">
        <div> Enreprise: {{offre.employeur.nom_entreprise}} </div>
        <div *ngIf="offre.employeur.description_entreprise"> Enreprise description:
          {{offre.employeur.description_entreprise}} </div>
        <div *ngIf="offre.employeur.adresse.adresse"><i class="las la-map-marker"></i>
          {{offre.employeur.adresse.pays | uppercase}}, {{offre.employeur.adresse.governat |titlecase}},
          {{offre.employeur.adresse.ville |lowercase}} {{offre.employeur.adresse.adresse}} </div>
      </p-fieldset>
    </ng-container>

    <div class="details">

      <div class="card-single">
        <div class="chip-wrapper">
          <span class="title"> niveau d'éducation :
          </span>
          <div class="chip">
            {{offre.niveau_education}}
          </div>
        </div>
      </div>

      <div class="card-single">
        <div class="chip-wrapper">
          <span class="title"> experience minimum:
          </span>
          <div class="chip">
            {{offre.experience}}
          </div>
        </div>
      </div>

      <div class="card-single">
        <div class="chip-wrapper">
          <span class="title"> Genre :
          </span>
          <div class="chip">
            {{offre.genre}}
          </div>
        </div>
      </div>

      <div class="card-single">
        <div class="chip-wrapper">
          <span class="title"> domaine :
          </span>
          <div class="chip">
            {{offre.domaine}}
          </div>
        </div>
      </div>

      <div class="card-single">
        <div class="chip-wrapper">
          <span class="title"> langues :
          </span>
          <div *ngFor=" let langue of offre.langues" class="chip">
            {{langue.langue}}
          </div>
        </div>
      </div>

      <div class="card-single">
        <div class="chip-wrapper">
          <span class="title"> Types d'emploi :
          </span>
          <div *ngFor=" let emploi_type of offre.emploi_types" class="chip">
            {{emploi_type.emploi_type}}
          </div>
        </div>
      </div>

    </div>


    <div class="description-card">
      <div class="description-title">
        Description de l'annonce : </div>

      <div [innerHTML]="offre.description_emploi"></div>
    </div>

    <div class="description-card">
      <div class="description-title">
        Les exigences :</div>

      <div [innerHTML]="offre.exigence_emploi"></div>
    </div>


    <div *ngIf="top_offres.length>0">
      <div id="wrapper">
        <div id="container">

          <h1 class="description-title">Suggestion parmi nous :</h1>

        </div>
      </div>
      <div class="flex-container">

        <div class="card-offre" *ngFor="let offre of top_offres">
          <div>
            <div class="justify-between ">
              <h3>{{offre.nom_emploi}}</h3>

              <div class="justify-right column">
                <div class="right">
                  <div *ngIf="offre.employeur.logo==null, else logo">
                    <img src="../../../assets/firm.png" alt="">
                  </div>
                  <ng-template #logo>
                    <img src="{{offre.employeur.logo}}" alt="">
                  </ng-template>
                </div>
                <div class="justify-right">
                  <h4 style="text-transform: uppercase;">{{offre.employeur.nom_entreprise }}</h4>
                </div>
              </div>
            </div>
          </div>
          <div class="details">
            <p><strong> Adresse: </strong>{{offre.employeur.adresse.pays | uppercase}},
              {{offre.employeur.adresse.governat |titlecase}}, {{offre.employeur.adresse.ville |lowercase}}</p>
          </div>
          <div class="justify-right bottom-button">
            <div></div>
            <button pButton pRipple type="button" (click)="suggest(offre)" label="Voir détails" icon="pi pi-eye"
              class="p-button-rounded"></button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-template #loading>
    <div class="spinner" style="margin-top: 30vh">
      <div id="loader">
        <p-progressSpinner [style]="{width: '80px', height: '80px'}" styleClass="custom-spinner" strokeWidth="4"
          fill="#EEEEEE" animationDuration=".5s"></p-progressSpinner>
      </div>
    </div>
  </ng-template>
</body>
