
<p-sidebar [(visible)]="display">
  <div class="sidebar">
    <div class="sidebar-brand p-justify-between">
      <div >
        <h2 (click)="display = false" >
          <div class="kamjobs">
            <span class="las la-bars"></span>
          </div>
        </h2>
      </div>
      <h2 (click)="router.navigate(['/offres'])" class="kamjobs">KamJobs</h2>
    </div>
    
    <div class="sidebar-menu">
      <ul>
        <li><a routerLinkActive="active" [routerLink]="['/admin/dashboard']" ><span class="lar la-chart-bar"></span><span>Dashboard</span></a></li>
        <li><a routerLinkActive="active" [routerLink]="['/admin/tableEmployeurs']" ><span class="las la-building"></span><span>Gestion Employeurs</span></a></li>
        <li><a routerLinkActive="active" [routerLink]="['/admin/tableCandidats']" ><span class="las la-graduation-cap"></span><span>Gestion Candidats</span></a></li>
        <li><a routerLinkActive="active" [routerLink]="['/admin/blog/form']" ><span class="las la-blog"></span><span>Gestion Blogs</span></a></li>
        <li><a routerLinkActive="active" [routerLink]="['/admin/tests/home']" ><span class="las la-clipboard-list"></span><span>Gestion Tests</span></a></li>
      </ul>
    </div>
  </div>
</p-sidebar>

  <div class="main-content">
    
    <p-scrollPanel [style]="{width: '100%', height: '98vh'}">
      <header>
        <h2 (click)="display = true" >
          <div class="kamjobs">
            <span class="las la-bars"></span>
          </div>
        </h2>
    
        <p-overlayPanel #op  [style]="{width: '200px'}">
          <ng-template pTemplate>
        
            <button pButton pRipple type="button" [routerLink]="['/employeur/profil']" icon="pi pi-user-edit" label="Gestion profil"
              class="p-button-text sign-out"></button>
            <button pButton pRipple type="button" (click)="signOut()"  icon="pi pi-sign-out" label="Déconnecter"
              class="p-button-text sign-out"></button>
          </ng-template>
        </p-overlayPanel>
    
        <div class="user-wrapper">
          <i (click)="op.toggle($event)" class="pi pi-ellipsis-h"></i>
  
          <img style="background-image: url(https://firebasestorage.googleapis.com/v0/b/kamjobs-d59d8.appspot.com/o/images%2F186522372_282428813561160_8130797224775870315_n.jpg?alt=media&token=86f1e207-16d0-4ad0-a826-c61f28f61265)" src="https://firebasestorage.googleapis.com/v0/b/kamjobs-d59d8.appspot.com/o/images%2F186522372_282428813561160_8130797224775870315_n.jpg?alt=media&token=86f1e207-16d0-4ad0-a826-c61f28f61265"  width="40px" height="40px">
          <div>
            <h4>Mourad Jnayah</h4>
            <small>Super Admin</small>
          </div>
        </div>
      </header>
      <main>
        <router-outlet></router-outlet>
      </main>  
    </p-scrollPanel>
        
</div>