<p-toast></p-toast>

<div class="all">
  <h1 class="ctil">Rejoins nous </h1>
  <form class="box">
    <div class="p-fluid p-formgrid p-grid ">
      <div class="p-field p-col-12 p-md-6 ">
        <label for="nom">Nom & Prénom</label>
        <input id="nom" type="text" pInputText [(ngModel)]="candidat.nom" name="nom" #nom="ngModel" required pTooltip="Taper Votre nom" tooltipPosition="top" tooltipEvent="focus" showDelay="1000" hideDelay="500">
      </div>
      <div class="p-field p-col-12 p-md-6">
        <label for="email">Email</label>
        <input id="email" type="text"  pInputText width="50px" [(ngModel)]="candidat.email" name="email" #email="ngModel" required email pTooltip="Taper un email avec un bon format" tooltipPosition="right" tooltipEvent="focus" showDelay="1000" hideDelay="500">
      </div>

      <div class="p-field p-col-12 p-md-6">
        <!-- <p-cascadeSelect [(ngModel)]="candidat.civilite" [options]="civilites" optionLabel="value" name="civilite1" #civilite1="ngModel" [style]="{'minWidth': '14rem'}" pTooltip="Choisissez une civilité" tooltipPosition="right" tooltipEvent="focus" showDelay="500" hideDelay="200"></p-cascadeSelect> -->
        <div class="p-field p-col-12 p-md-3">
          <p-dropdown [options]="civilites" [(ngModel)]="candidat.civilite" placeholder="Choisissez une civilité" name="secteur"  [style]="{'minWidth': '14rem'}"></p-dropdown>
        </div>
        <!-- <select id="civilite" width="50px" [(ngModel)]="candidat.civilite" name="civilite" #civilite="ngModel" required >
        <option value="" [hidden]="true" >Choisissez une civilité</option>
        <option value="M" >M</option>
        <option value="Mme" >Mme</option>
        <option value="Mlle" >Mlle</option>
        </select> -->
      </div>
      <div class="p-field p-col-12">
        <label for="mdp">Mot de passe</label>
        <p-password id="mdp" type="text" rows="1" [(ngModel)]="candidat.mot_de_passe" name="mdp" #mdp="ngModel" required [toggleMask]="true" ></p-password>
      </div>
      <div class="p-field p-col-12">
        <label for="mdp2">Mot de passe Confirmation</label>
        <input id="mdp2" type="password" rows="1" pInputText [(ngModel)]="candidat.mot_de_passe_confirmation" name="mdp2" pattern="mdp" #mdp2="ngModel" required pTooltip="Taper un mot de passe exact comme le precedent" tooltipPosition="right" tooltipEvent="focus" showDelay="1000" hideDelay="500">
      </div>
      
    </div>
  </form>

  <button class="big-button" (click)="ajouter()" [disabled]="nom.invalid || email.invalid">S'inscrire</button>
</div>
