<div class="sidebar">
  <div class="sidebar-brand">
    <h2><span class="las la-chess"></span>KamJobs</h2>
  </div>
  <div class="sidebar-menu">
    <ul>
      <li><a class="active" href=""><span class="las la-igloo"></span><span>Dashboard</span></a></li>
      <li><a href=""><span class="las la-users"></span><span>Customers</span></a></li>
      <li><a href=""><span class="las la-clipboard-list"></span><span>Projects</span></a></li>
      <li><a href=""><span class="las la-shipping-fast"></span><span>Orders</span></a></li>
      <li><a href=""><span class="las la-receipt"></span><span>Inventory</span></a></li>
      <li><a href=""><span class="las la-user-circle"></span><span>Accounts</span></a></li>
      <li><a href=""><span class="las la-clipboard-list"></span><span>Tasks</span></a></li>
    </ul>
  </div>
</div>
<div class="main-content">
  <header>
    <h2>
      <label for="">
        <span class="las la-bars"></span>
      </label>
      Dashboard
    </h2>

    <div class="search-wrapper">
      <span class="las la-search"></span>
      <input type="search" placeholder="Search Here !">
    </div>

    <div class="user-wrapper">
      <img src="https://scontent.ftun2-1.fna.fbcdn.net/v/t1.6435-9/94610675_2612309645724396_3824631985830100992_n.jpg?_nc_cat=110&ccb=1-3&_nc_sid=174925&_nc_ohc=LB-5A8g5qNoAX8CpCR6&_nc_ht=scontent.ftun2-1.fna&oh=002b7e7bbb2230d2c9c76f0174df9ad6&oe=60A7D585" alt="jnayah" width="40px" height="40px">
      <div>
        <h4>Mourad Jnayah</h4>
        <small>Super Admin</small>
      </div>

    </div>
    
  </header>

  <main>
    <div class="cards">
      <div class="card-single">
        <div>
          <h1>54</h1>
          <span>Customers</span>
        </div>
        <div>
          <span class="las la-users"></span>
        </div>
      </div>

      <div class="card-single">
        <div>
          <h1>97</h1>
          <span>Projects</span>
        </div>
        <div>
          <span class="las la-clipboard-list"></span>
        </div>
      </div>

      <div class="card-single">
        <div>
          <h1>56</h1>
          <span>Orders</span>
        </div>
        <div>
          <span class="las la-shopping-bag"></span>
        </div>
      </div>

      <div class="card-single">
        <div>
          <h1>54</h1>
          <span>Income</span>
        </div>
        <div>
          <span class="las la-shopping-cart"></span>
        </div>
      </div>


    </div>
  </main>

</div>
