<div id="offreModal" class="modal">
  <div class="modal-content">
    <div class="p-justify-right">
      <button pButton pRipple type="button" (click)="cancel()" icon="pi pi-times"
        class="p-button-danger p-button-rounded p-button-text "></button>
    </div>
    <p-scrollPanel [style]="{width: '100%', height: '90%'}">
      <div *ngIf="clicked">
        <app-offre></app-offre>
      </div>
    </p-scrollPanel>
  </div>
</div>
  <div class="search-bar">
    yup
  </div>
<div class="main">
  <div class="flex-cont ">
    <div class="card-single" *ngFor="let offre of offres  | paginate: { itemsPerPage: 10, currentPage: page }">
      <div class="p-justify-between">
        <div>
          <h1>{{offre.nom_emploi}}</h1>
          <h3>{{offre.employeur.nom_entreprise }}</h3>
          <p class="product-category">{{offre.description_emploi | slice:0:250}} ...</p>
        </div>
        <div>
          <div class="right">
            <img src="../../../assets/employee-candidate-reference-background-check-procedure.jpg" alt="">
          </div>
        </div>
      </div>
      <div class="p-justify-between">
        <div class="p-justify-between">
          <p><strong>Domaine: </strong>{{offre.domaine}}</p>
          <p><strong>Genre: </strong>{{offre.genre}}</p>
          <p><strong>Adresse: </strong>{{offre.employeur.adresse.pays | uppercase}}
            {{offre.employeur.adresse.governat |titlecase}} {{offre.employeur.adresse.ville |lowercase}}</p>
        </div>
        <button pButton pRipple type="button" (click)="showDialog(offre)" label="Voir détails" icon="pi pi-eye"
          class="p-button-text p-button-rounded"></button>
      </div>
    </div>
  </div>

  <div class="flex-cont ">
    <pagination-controls (pageChange)="page = $event" class="paging-control" maxSize="3" previousLabel="Précédent"
      nextLabel="Suivant" ></pagination-controls>
  </div>
</div>
