* {
  font-weight: bold;
}
div{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.question {
  background-color: rgb(108, 154, 255);
  margin-top: 1vh;
  text-align: center;
  padding: 5px;
  font-size: large;
}

.reponse{
    padding: 5px;
    margin: 5px;
    width: 80%;
    word-wrap: break-word;
    
}
@media (max-width: 1111px) {
  .reponse{
    padding: 5px;
    margin: 5px;
    width: 70%;
    word-wrap: break-word;
  }
}

@media (max-width: 740px) {
  .reponse{
    padding: 5px;
    margin: 5px;
    width: 60%;
    word-wrap: break-word;
  }
}

@media (max-width: 556px) {
  .reponse{
    padding: 5px;
    margin: 5px;
    width: 55%;
    word-wrap: break-word;
  }
}

.success {
  background-color: rgba(0, 228, 0, 0.850);
}

.danger {
  background-color: rgb(255, 58, 58, 0.850);
}

.rounded {
  border-radius: 10px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
  margin-top: 1rem;
}

.card-single {
  background: hsla(0, 0%, 100%, 0.800);
  backdrop-filter: blur(40px);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 2vw;
  width: 300px;
  padding: 2rem;
  border-radius: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button-white{
  margin: 10px;
  background-color: rgba(0, 0, 0, 0.363);
  backdrop-filter: blur(80px);
  color: white;
}

.p-button-raised {
  margin: 3px 10px;
}

.input {
  padding: 5px 15px;
  border-radius: 25px;
}


.paging-control {
  background: rgba(255, 255, 255, 0.801);
  backdrop-filter: blur(10px);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: fit-content;
  width: fit-content;
  margin: auto;
  border-radius: 40px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.paging-control /deep/ .ngx-pagination .current {
  border-radius: 20px;
}
.paging-control /deep/ .ngx-pagination {
  border-radius: 20px;
  margin: 0px 4px;
  padding: 0px;
  height: fit-content;
}

.paging-control /deep/ .ngx-pagination .ng-star-inserted {
  border-radius: 20px;
  margin: 0px 2px;
}
.paging-control /deep/ .ngx-pagination .ng-star-inserted:hover {
  border-radius: 20px;
  margin: 0px 2px;
}


/* The Modal (background) */
.test-modal {
  backdrop-filter: blur(20px);
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 20vh; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  animation: fadeInModal 0.3s;
}



/* Modal Content */
.test-modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 10px;
  border-radius: 20px;
  width: 60vw;
  animation: fadeIn 0.3s;
}
/* The Modal (background) */
.test-modal {
  backdrop-filter: blur(20px);
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 20vh; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  animation: fadeInModal 0.3s;
}



/* Modal Content */
.test-modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 10px;
  border-radius: 20px;
  width: 60vw;
  animation: fadeIn 0.3s;
}
/* The Modal (background) */
.ajout-modal {
  backdrop-filter: blur(20px);
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 40vh; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  animation: fadeInModal 0.3s;
}



/* Modal Content */
.ajout-modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 10px;
  border-radius: 20px;
  width: 40vw;
  animation: fadeIn 0.3s;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 40vh; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  animation: fadeInModal 0.3s;
}



/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 10px;
  border-radius: 20px;
  width: 40vw;
  animation: fadeIn 0.3s;
}


@media (max-width:800px) {
  
  .test-modal-content {
    
    width: 75vw;
  }
}

@media (max-width:600px) {
  
  .test-modal-content {
    
    width: 85vw;
  }
}

@media (max-width:500px) {
  
  .test-modal-content {
    
    width: 90vw;
  }
}

@keyframes fadeInModal {
  0% {opacity:0;}
  100% {opacity:1;}
}

@keyframes fadeIn {
  0% {opacity:0;
    transform: scale(0, 0);}
  100% {opacity:1;
    transform: scale(1, 1);}
  
}

.p-justify-right {
  display: flex;
  justify-content:flex-end;
}
.p-justify-between {
  display: flex;
  justify-content:space-between;
}

.p-button-rounded:disabled {
  border: 0px;
  color: gray;
  background-color: white;
  box-shadow: none;
}