* {
  font-weight: bold;
}

.question {
  background-color: rgb(108, 154, 255);
  margin-top: 1vh;
  text-align: center;
  padding: 5px;
  font-size: large;
}

.reponse{
    padding: 5px;
    margin: 5px;
    width: 80%;
    word-wrap: break-word;
    
}
@media (max-width: 1111px) {
  .reponse{
    padding: 5px;
    margin: 5px;
    width: 70%;
    word-wrap: break-word;
  }
}

@media (max-width: 740px) {
  .reponse{
    padding: 5px;
    margin: 5px;
    width: 60%;
    word-wrap: break-word;
  }
}

@media (max-width: 556px) {
  .reponse{
    padding: 5px;
    margin: 5px;
    width: 55%;
    word-wrap: break-word;
  }
}

.success {
  background-color: rgba(0, 228, 0, 0.850);
}

.danger {
  background-color: rgb(255, 58, 58, 0.850);
}

.rounded {
  border-radius: 10px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-evenly;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
  margin-top: 1rem;
}

.card-single {
  background: hsla(0, 0%, 100%, 0.800);
  backdrop-filter: blur(40px);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 30px;
  padding: 2rem;
  border-radius: 30px;
}

.button-white{
  margin: 10px;
  background-color: rgba(0, 0, 0, 0.363);
  backdrop-filter: blur(80px);
  color: white;
}

.p-button-raised {
  margin: 3px 10px;
}