<body>

  <div class="flex-container">
    <input id="term" type="text" pInputText class="input input-size" [(ngModel)]="term" name="term"
      placeholder="rechercher tests">
  </div>

  <div id="gestTest" class="test-modal">
    <div class="test-modal-content">
      <div class="p-justify-between">

        <h2> Gestion Test {{test.domaine}}</h2>
        <button pButton pRipple type="button" (click)="cancelTestGestDialog()" icon="pi pi-times"
          class="p-button-danger p-button-rounded p-button-text "></button>
      </div>
      <p-scrollPanel [style]="{width: '100%', height: '60vh'}">
        <div>
          <!-- Form for modifying a test -->
  
          <div id="editTest" class="modal">
            <div class="modal-content">
              <div class="p-justify-between">
                <h2> Modifier Test {{test.domaine}}</h2>
                <button pButton pRipple type="button" (click)="cancelTestEditDialog()" icon="pi pi-times"
                  class="p-button-danger p-button-rounded p-button-text "></button>
              </div>
              <form>
                <input type="text" pInputText class="input" value="{{test.domaine}}" [(ngModel)]="test.domaine"
                  name="test" placeholder="test" />
  
                <button pButton pRipple type="button" (click)="modifierTest(test)" icon="pi pi-check"
                  pTooltip="modifier question" class="p-button-rounded p-button-text" [disabled]="test.domaine==''"> </button>
              </form>
            </div>
          </div>
          <div style="display: flex;justify-content:center;margin-bottom: 12px;">
            <button pButton pRipple type="button" (click)="testEditDialog()" label="Modifier Test" icon="pi pi-pencil"
              class="p-button-rounded p-button-raised p-button-warning p-button-text "></button>
  
            <button pButton pRipple type="button" (click)="supprimerTest(test_id)" label="Summprimer Test"
              icon="pi pi-times" class="p-button-rounded p-button-raised p-button-danger p-button-text "></button>
          </div>
          <div>
            <!-- Form for adding a question -->
            <input type="text" pInputText class="input" [(ngModel)]="ajout_question.question" placeholder="question" />
            <button pButton pRipple type="button" (click)="ajouterQuestion()" icon="pi pi-plus"
              pTooltip="ajouter question" class="p-button-rounded p-button-text" [disabled]="ajout_question.question==''"> </button>
  
            <!-- Loop in the questions array -->
            <div *ngFor="let question of questions">
  
              <!-- Gestion questions -->
              <div style="display: flex;justify-content:center;width:100%">
                <div class="question input">{{question.question}}</div>
                <div>
  
                  <!-- Form Modal for modifying a question -->
  
                  <div id="editQuestion" class="modal">
                    <div class="modal-content">
                      <div class="p-justify-between">
                        <h2> Modifier Question</h2>
                        <button pButton pRipple type="button" (click)="cancelQuestionEditDialog()" icon="pi pi-times"
                          class="p-button-danger p-button-rounded p-button-text "></button>
                      </div>
                      <form>
                        <textarea type="text" pInputTextarea rows="6" class="input" value="{{modif_question.question}}"
                          name="question" [(ngModel)]="modif_question.question" placeholder="question"
                          pTooltip="modifier la taille à partir du coin en bas à droit."></textarea>
  
                        <button pButton pRipple type="button" (click)="modifierQuestion(modif_question)" icon="pi pi-check"
                          pTooltip="modifier question" class="p-button-rounded p-button-text" [disabled]="modif_question.question==''"> </button>
                      </form>
                    </div>
                  </div>
  
                  <button pButton pRipple type="button" (click)="questionEditDialog(question)" icon="pi pi-pencil"
                    pTooltip="modifier question" class="p-button-rounded p-button-warning p-button-text"></button>
  
                  <button pButton pRipple type="button" (click)="supprimerQuestion(question.id)" icon="pi pi-times"
                    pTooltip="supprimer" class="p-button-rounded p-button-danger p-button-text"></button>
                </div>
              </div>
  
  
              <!-- Loop in the reponses array -->
              <div *ngFor="let reponse of question.reponses">
                  <div *ngIf="reponse.selected == false">
                    <div style="display: flex;justify-content:center;">
                      <div class="reponse input" [ngClass]="reponse.correct ? 'success' : 'danger'">{{reponse.reponse}}
                      </div>
                      <div>
                        <button pButton pRipple type="button" [disabled]="selected_reponse.id!=null"
                          (click)="selectReponse(question,reponse)" icon="pi pi-pencil" pTooltip="modifier reponse"
                          class="p-button-rounded p-button-warning p-button-text"></button>
  
                        <button pButton pRipple type="button" (click)="supprimerReponse(reponse.id)" icon="pi pi-times"
                          pTooltip="supprimer" class="p-button-rounded p-button-danger p-button-text"></button>
                      </div>
                    </div>
                  </div>
  
                  <div *ngIf="reponse.selected == true">
                    <!-- Form for modifying a reponse -->
                    <p-inputSwitch class="sm" [(ngModel)]="selected_reponse.correct"></p-inputSwitch>
  
                    <textarea class="reponse" pInputTextarea cols="30"
                      pTooltip="modifier la taille à partir du coin en bas à droit." class="input"
                      [ngClass]="selected_reponse.correct ? 'success' : 'danger'" [(ngModel)]="selected_reponse.reponse"
                      value="{{selected_reponse.reponse}}"></textarea>
  
                    <button pButton pRipple type="button" icon="pi pi-check" (click)="modifierReponse(reponse)"
                      pTooltip="confirmer" class="p-button-rounded p-button-text" [disabled]="selected_reponse.reponse==''"></button>
  
                    <button pButton pRipple type="button" (click)="cancelReponse(question)" icon="pi pi-times" pTooltip="cancel"
                      class="p-button-rounded p-button-danger p-button-text"></button>
                  </div>
              </div>
  
              <!-- Form for adding a reponse -->
  
              <input type="text" pInputText class="input" [(ngModel)]="ajout_reponse.reponse" placeholder="réponse" />
              <button pButton pRipple type="button" (click)="ajouterReponse(question)" icon="pi pi-plus"
                pTooltip="ajouter" class="p-button-rounded p-button-text" [disabled]="ajout_reponse.reponse==''"></button>
            </div>
          </div>
        </div>
      </p-scrollPanel>
      
      <p>
        NB: Il faut existe une seule réponse  correcte pour chaque question <br>
        Les réponses sont fausses par défaut 
      </p>
    </div>
  </div>

  <div class="flex-container ">
    <div class="card-single"
      *ngFor="let test of tests | filter: term  | paginate: { itemsPerPage: 8, currentPage: page }">
      <div>
        <h1>Test {{test.domaine}}</h1>
      </div>
      <button pButton pRipple type="button" (click)="gestionTestDialog(test); test.selected=true" label="gestion Test"
        icon="pi pi-eye" class="p-button-text p-button-rounded"></button>
    </div>
  </div>

  <div class="flex-container ">
    <pagination-controls (pageChange)="page = $event" class="paging-control" maxSize="3" previousLabel="Précédent"
      nextLabel="Suivant" autoHide="true"></pagination-controls>
  </div>

  <!-- Ajout Test -->
  <div>
    <div id="addTest" class="modal">
      <div class="modal-content">
        <div class="p-justify-between">
          <h2> Ajout Test</h2>
          <button pButton pRipple type="button" (click)="cancelTestAddDialog()" icon="pi pi-times"
            class="p-button-danger p-button-rounded p-button-text "></button>
        </div>
        <form>
          <input id="test" type="text" pInputText class="input" [(ngModel)]="ajout_test.domaine" name="test"
            placeholder="test sujet">
          <button pButton pRipple type="button" (click)="ajouterTest()" icon="pi pi-plus" pTooltip="ajouter"
            class="p-button-rounded p-button-text" [disabled]="ajout_test.domaine==''"></button>
        </form>

      </div>
    </div>
    <button pButton pRipple type="button" (click)="testAddDialog()" label="Ajout Test" icon="pi pi-plus"
      class="p-button-text button-white p-button-rounded"></button>
  </div>
</body>
