/* You can add global styles to this file, and also import other style files */
@import "main-styles.scss";
@import "../node_modules/bulma/bulma.sass";


.p-button-rounded:hover {

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.p-button-rounded:disabled {
  border: 0px;
  color: gray;
  background-color: white;
  box-shadow: none;
}

div{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  white-space: pre-wrap;
}

:host ::ng-deep .p-scrollpanel .p-scrollpanel-bar {

  background-color: rgb(193, 193, 255);
}