<div class="flex-container">
  <div class="card-single">
    <section class="articles">

      <div class="article" *ngFor="let blog of blogs">
        <div class="left">
          <img src="../../../assets/admin.jpg" alt="">
        </div>
        <div class="right">
          
          <h1>{{blog.titre}}</h1>
          <p class="description" style="white-space: pre-wrap">{{blog.description | slice:0:500}}... <br></p>
          <p class="date"> posted at : {{blog.created_at | date: 'dd/MM/yyyy'}}</p>
          <p class="suite">voir la suite</p>
        </div>
      </div>

    </section>
  </div>
</div>
