
<p-toast></p-toast>

<div class="all">
  <h1 class="ctil">Ajouter un Offre</h1>
  <form class="box">
    <div class="p-fluid p-formgrid p-grid ">
      <div class="p-field p-col-12 p-md-6 ">
        <label for="genre">Genre d'offre</label>
        <input id="genre" type="text" pInputText [(ngModel)]="offre.genre" name="genre" #genre="ngModel" required pTooltip="Taper le genre d'emploi" tooltipPosition="top" tooltipEvent="focus" showDelay="1000" hideDelay="500">
      </div>

      <div class="p-field p-col-12 p-md-6 p-input-icon-right">
        <label for="experience">Experience exigé</label>
        <input id="experience" type="text" pInputText [(ngModel)]="offre.experience" name="experience" #experience="ngModel" required pTooltip="Taper l'experience voulu" tooltipPosition="right" tooltipEvent="focus" showDelay="1000" hideDelay="500" >
      </div>

      <div class="p-field p-col-12 p-md-6">
        <label for="niveau_education">Niveau Education</label>
        <input id="niveau_education" type="text"  pInputText width="50px" [(ngModel)]="offre.niveau_education" name="niveau_education" #niveau_education="ngModel" required pTooltip="Taper le niveau d'éducation voulu" tooltipPosition="right" tooltipEvent="focus" showDelay="1000" hideDelay="500">
      </div>

      <div class="p-field p-col-12 p-md-3">
        <label for="description_emploi">Description Emploi</label>
        <textarea id="description_emploi" [rows]="3" [cols]="30" pInputTextarea autoResize="autoResize" [(ngModel)]="offre.description_emploi" name="description_emploi" #description_emploi="ngModel" required pTooltip="Taper la description complete de cet offre " tooltipPosition="right" tooltipEvent="focus" showDelay="1000" hideDelay="500"></textarea>
        <!--<input id="desc" type="text" pInputText [(ngModel)]="employeur.description_entreprise" name="desc" #desc="ngModel" required>-->
      </div>

      <div class="p-field p-col-12 p-md-3">
        <label for="exigence_emploi">Exigence Emploi</label>
        <textarea id="exigence_emploi" [rows]="3" [cols]="30" pInputTextarea autoResize="autoResize" [(ngModel)]="offre.exigence_emploi" name="exigence_emploi" #exigence_emploi="ngModel" required pTooltip="Taper tous les exigences voulu par les candidats" tooltipPosition="right" tooltipEvent="focus" showDelay="1000" hideDelay="500"></textarea>
        <!--<input id="desc" type="text" pInputText [(ngModel)]="employeur.description_entreprise" name="desc" #desc="ngModel" required>-->
      </div>

      <div class="p-field p-col-12 p-md-6">
        <label for="emploiTypes">Domaine</label>
        <input id="emploiTypes" type="text"  pInputText width="50px" [(ngModel)]="offre.domaine" name="emploiTypes" #emploiTypes="ngModel" required pTooltip="Taper le type d'emploi" tooltipPosition="right" tooltipEvent="focus" showDelay="1000" hideDelay="500">
      </div>

      <div class="p-field p-col-12 p-md-6">
        <label for="type_offre">Types d'emploi</label>
        <p-multiSelect id="type_offre" [options]="offre_types" [(ngModel)]="selected_types" name="type_offre" defaultLabel="Selectioner les types d'offres voulu" optionLabel="emploi_type" display="chip"></p-multiSelect>
      </div>

      <div class="p-field p-col-12 p-md-6">
        <label for="langue">Langues Exigées</label>
        <p-multiSelect id="langue" [options]="langues" [(ngModel)]="selected_langues" name="langue" defaultLabel="Selectioner les langues voulu" optionLabel="langue" display="chip"></p-multiSelect>
      </div>





      <!--<div class="p-field p-col-12">-->
        <!--<label for="mdp">Mot de passe</label>-->
        <!--<p-password id="mdp" type="text" rows="1" [(ngModel)]="employeur.mot_de_passe" name="mdp" #mdp="ngModel" required [toggleMask]="true" ></p-password>-->
      <!--</div>-->
      <!--<div class="p-field p-col-12">-->
      <!--<label for="mdp2">Mot de passe Confirmation</label>-->
      <!--<input id="mdp2" type="text" rows="1" pInputText [(ngModel)]="employeur.mot_de_passe_confirmation" name="mdp2" #mdp2="ngModel" required pTooltip="Taper un mot de passe exact comme le precedent" tooltipPosition="right" tooltipEvent="focus" showDelay="1000" hideDelay="500">-->
      <!--</div>-->

      <!--<div class="p-field p-col-12">-->
        <!--<label for="logo">Logo</label>-->
        <!--<input id="logo" type="text" rows="1" pInputText [(ngModel)]="employeur.logo" name="logo" #logo="ngModel" required pTooltip="Taper le url de img" tooltipPosition="right" tooltipEvent="focus" showDelay="1000" hideDelay="500">-->
      <!--</div>-->


      <!--<div class="p-field p-col-12 p-md-6">-->
        <!--<label for="code">Matricule fiscale-->
        <!--</label>-->
        <!--<input id="code" type="text" pInputText aria-describedby="username-help" [(ngModel)]="employeur.matricule" name="code" #code="ngModel" required pTooltip="La matricule doit être existante" tooltipPosition="right" tooltipEvent="focus" showDelay="1000" hideDelay="500">-->
      <!--</div>-->
      <!--<div class="p-field p-col-12 p-md-3">-->
        <!--<label for="site">site web</label>-->
        <!--<input id="site" type="text" rows="1" pInputText [(ngModel)]="employeur.site_web" name="site" #site="ngModel" required>-->
      <!--</div>-->
      <!--<div class="p-field p-col-12 p-md-3">-->
        <!--<label for="telephone">telephone</label>-->
        <!--<input type="number" id="telephone" pInputText [(ngModel)]="employeur.telephone" name="telephone" #telephone="ngModel" required pTooltip="Le numero doit être composé de 8 chiffres" tooltipPosition="right" tooltipEvent="focus" showDelay="1000" hideDelay="500">-->
        <!--&lt;!&ndash;<input id="telephone" type="number" pInputText min="71000000" [(ngModel)]="employeur.telephone" name="telephone" #telephone="ngModel" required pTooltip="Le numero doit être composé de 8 chiffres" tooltipPosition="right" tooltipEvent="focus" showDelay="1000" hideDelay="500">&ndash;&gt;-->
      <!--</div>-->
      <!--<div class="p-field p-col-12 p-md-3">-->
        <!--<label for="desc">Description Entreprise</label>-->
        <!--<textarea id="desc" [rows]="3" [cols]="30" pInputTextarea autoResize="autoResize" [(ngModel)]="employeur.description_entreprise" name="desc" #desc="ngModel" required></textarea>-->
        <!--&lt;!&ndash;<input id="desc" type="text" pInputText [(ngModel)]="employeur.description_entreprise" name="desc" #desc="ngModel" required>&ndash;&gt;-->
      <!--</div>-->

      <!--<div class="p-field p-col-12 p-md-3">-->
        <!--<p-dropdown [options]="secteurs" [(ngModel)]="employeur.secteur_id" placeholder="Choisissez un secteur d'activités" id="secteur" name="secteur" optionLabel="secteur"[style]="{'minWidth': '14rem'}"></p-dropdown>-->
      <!--</div>-->



      <!--<div class="p-field p-col-12 p-md-3">-->
        <!--<p-dropdown [options]="langue" [(ngModel)]="langue.langue" placeholder="Choisissez un secteur d'activités" id="langue" name="langue" optionLabel="langue"[style]="{'minWidth': '14rem'}"></p-dropdown>-->
      <!--</div>-->


      <!--<div class="p-field p-col-12 p-md-3">-->
      <!--<label for="pays">Pays</label>-->
      <!--<input id="pays" type="text" rows="1" pInputText [(ngModel)]="employeur.adresse.pays" name="pays" #pays="ngModel" required>-->
      <!--</div>-->
      <!--<div class="p-field p-col-12 p-md-3">-->
      <!--<label for="governat">Governat</label>-->
      <!--<input id="governat" type="text" pInputText [(ngModel)]="employeur.adresse.governat" name="governat" #governat="ngModel" required>-->
      <!--</div>-->
      <!--<div class="p-field p-col-12 p-md-3">-->
      <!--<label for="ville">Ville</label>-->
      <!--<input id="ville" type="text" rows="1" pInputText [(ngModel)]="employeur.adresse.ville" name="ville" #ville="ngModel" required>-->
      <!--</div>-->

      <!--<div class="p-field p-col-12 p-md-3">-->
      <!--<label for="adresse">Adresse</label>-->
      <!--<input id="adresse" type="text" pInputText [(ngModel)]="employeur.adresse.adresse" name="adresse" #adresse="ngModel" required>-->
      <!--</div>-->

      <!--<div class="p-field p-col-12 p-md-3">-->
      <!--<label for="code_postal">Code postal</label>-->
      <!--<input id="code_postal" type="number" pInputText [(ngModel)]="employeur.adresse.code_postal" name="code_postal" #code_postal="ngModel" required>-->
      <!--</div>-->
    </div>
  </form>

  <button class="big-button"  (click)="Ajouter()" [disabled]="genre.invalid">Ajouter</button>
</div>
